body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: https://raw.githubusercontent.com/theforagemusicchannel/channelforage/main/DALL%C2%B7E%202024-03-24%2014.59.38%20-%20Create%20an%20ultra-simple%2C%20high-resolution%2C%20orange-colored%20image%20with%20an%20extremely%20subtle%20texture.%20This%20design%20aims%20for%20minimalism%2C%20resembling%20something%20.webp
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    color: #666;
}
